body{
    margin-left: 200px;
    margin-top: 200px;
    margin-right: 200px;
    margin-bottom: 200px;
    background-color: lightgrey;
    
}
div{
    background-color: lightgreen;
}
#div1{
    background-color: lightseagreen;
}
nav{
    display: flex;
    background-color: lightgreen;
    padding: 20px;
    margin-bottom: 50px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    align-items:self-start;
    flex-direction: row;
}
h1{
    color: blue;
    background-color: yellow;
    text-align: center;
    font-size: 150px;
    
}
p{
    font-size: 100px;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}